<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light" >
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto"  id='head-cont'>
						<li class="nav-item"><a class="nav-link" href="{{url_for('hello_world') }}">Home</a></li>
						<li class="nav-item active"><a class="nav-link" href="{{url_for('main')}}">Quiz</a></li>
						<li class="nav-item"><a class="nav-link" href="{{url_for('login_page')}}">Login</a></li>
						<li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Logout</a></li>
						<li class="nav-item"><a class="nav-link" href="{{url_for('register')}}">Register</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
<div id="some">
    <div class="col-md-12">
        <img style="opacity: 1;" class="img-fluid" src="https://vemaps.com/uploads/img/large/eu-c-04.jpg">
    </div>
</div>
<h3 id="que">Question <i id="ans_id">1</i> of 10.</h3>
<div id="response">
    <p id="all" style="visibility: hidden">{{ right_ans|tojson }}</p>
    <form method="POST" name="enter" id="table">
    <table>
        <thead>Find the capital of <i id="capital_name">{{ name }}</i></thead>
        <tr>
            <td><label><input id="sel1" name="check" type="radio" value={{ ans1 }}>{{ ans1 }}</label></td>
            <td><label><input id="sel2" name="check" type="radio" value={{ ans2 }}>{{ ans2 }}</label></td>
        </tr>
        <tr>
            <td><label><input id="sel3" name="check" type="radio" value={{ ans3 }}>{{ ans3 }}</label></td>
            <td><label><input id="sel4" name="check" type="radio" value={{ ans4 }}>{{ ans4 }}</label></td>
        </tr>
    </table>
</form>
</div>
<button id="btn" class="btn">Check</button>
<footer class="footer-area bg-f">
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2020 <a href="#">GeoQuiz</a> Design By : Mikita Korbovskiy</p>
					</div>
				</div>
			</div>
		</div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script type="text/javascript">
let count_true = 0;
let right_arr = new Array();
$('button#btn').click(function(){
  let selectors = document.enter.check;
  let right = document.getElementById("all").innerHTML;
  let str = right.substring(1, right.length-1);
  let nam = document.getElementById('capital_name').innerHTML;
  for (let i = 0; i<selectors.length; i++){
      if (selectors[i].checked) {
          if (selectors[i].value === str){
              count_true += 1;
          }
          else {
                let count = document.getElementById('ans_id').innerHTML;
                let first = "You were mistaken in a question " + count +". The capital of " + nam + " is "+str+ ".";
                right_arr.push(first);
          }
      }

  }
});
$('button#btn').click(function(){
    let ans = document.getElementById("ans_id")
    let ans_id = parseInt(ans.innerHTML);
    if (ans_id==10) {
            $.ajax({
            url: "/end_test",
            type: "POST",
            success: function(resp){
                let que = document.getElementById("que");
                que.remove()
                let btn = document.getElementById("btn")
                btn.remove()
                let div = document.getElementById("response");
                div.innerHTML = "";
                div.innerHTML += resp.data;
                let na = document.getElementById('answers');
                na.innerText += "You have " + count_true + " right answers!";
                let dop = document.getElementById("right_ans");
                for (let i = 0; i<right_arr.length; i++){
                    dop.insertAdjacentHTML("beforeend", "<p>"+right_arr[i]+"</p>");
                }
            }
        });
    }
    else {
            $.ajax({
            url: "/update_eu/",
            type: "POST",
            success: function(resp){
                let div = document.getElementById("response");
                div.innerHTML = "";
                div.innerHTML += resp.data;
            }
        });
        let ans = document.getElementById("ans_id")
        let ans_id = parseInt(ans.innerHTML);
        ans_id += 1;
        ans.innerHTML = "";
        ans.innerHTML +=  ans_id;
    }
});

</script>
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
<style>
#table{
    font-size: large;

    position: absolute;
    top: 30%;
    left: 44%;

}
#que {
    position: absolute;
    left: 44%;
    top: 25%;
}
#btn {
    position: absolute;
    left: 47%;
    top: 46%;
}

</style>
</html>